    body {
      font-family: "Helvetica Neue", Helvetica, sans-serif;
      font-size: 14px;
      color: #555;
    }

    svg{
      border: 1px solid #aaa;
      display: inline-block;
      height: 700px;
      width: 1000px;
    }

    #content .map path {
      stroke: #aaa;
      fill: none;
    }

    #content .bounding-box rect {
      fill: none;
      stroke: #333;
      stroke-dasharray: 5,5;
    }

    #content .centroid { display: none; }
    #content .centroid circle { fill: #000; }

    #content .info {
      border: 1px solid #aaa;
      display: inline-block;
      vertical-align: top;
      height: 700px;
      width: 300px;
    }

    #content .info h1 { padding: 0 0.75em; }
    #content .info .name { padding: 0 1em; }
    #content .info .details { padding: 0 1.5em; }
    
    #content .info .details span {
      display: block;
      margin: 1em 0;
    }